<div class="jumbotron text-center">
  <button class="btn btn-success btn-lg" (click)="tirarDados()">
    Tirar dados</button
  ><br />
  <img class="img" [src]="dadoUno" alt="" />
  <img class="img" [src]="dadoDos" alt="" />
  <img class="img" [src]="dadoTres" alt="" />
  <img class="img" [src]="dadoCuatro" alt="" />
  <img class="img" [src]="dadoCinco" alt="" />
  <h1
    *ngIf="
      numero1 === numero2 &&
      numero2 === numero3 &&
      numero3 === numero4 &&
      numero4 === numero5
    "
  >
    <span class="badge">🎲Generala🎲</span>
  </h1>
</div>
